
// 绝对定位
.absolute-class(@width, @height, @top, @left, @right, @bottom) {
    position: absolute;
    width: @width;
    height: @height;
    top: @top;
    left: @left;
    right: @right;
    bottom: @bottom;
}

// 水平居中
.horizontal-center() {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
// 垂直居中
.vertical-center() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
// 水平垂直居中
.h-v-center() {
    .horizontal-center();
    .vertical-center();
}

// 背景布满
.full-bg(@width: 100%, @height: auto) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: @width;
    height: @height;
}

// 背景图片
.background-value(@url, @size: 100% 100%, @repeat: no-repeat) {
    background-image: url(@url);
    background-size: @size;
    background-repeat: @repeat;  
}

// 元素隐藏、显示
.hide() {
    display: none;
}
.show() {
    display: block;
}

// 文字对齐
.tl() {
    text-align: left;
}
.tc() {
    text-align: center;
}
.tr() {
    text-align: right;
}

// 左右浮动
.fl() {
    float: left;
}
.fr() {
    float: right;
}