@import './view/reset.less';
@import './view/mixin.less';
@import './view/flex.less';

h1 {
  color: red;
}
.main {
  color: pink;
}
.step1 {
  color: red;
}
.step2 {
  color: green;
}
.step3 {
  color: yellow;
}
.step4 {
  color: grey;
}